body {
    margin: 0px;
    height: 100vh;
}
canvas {
    display: block;
}
.logo {
    display: block;
    margin: .3rem;
    padding: .3rem;
    text-align: center;
    justify-content: left;
    font-size: 1rem;
    color: #0094EE;
    font-family: sans-serif;
    width: 10%;
}
ul {
    display: flex;
    justify-content: left;
    width: 90%;
    padding: .3rem;
}
li {
    display: block;
    padding: .3rem;
    margin: .3rem;
    list-style-type: none;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
   }
a, a:hover, a:active {
    color: greenyellow;
    text-decoration: none;

}


  